DNS.1 = activemq-base.zhonglele.com
DNS.2 = memcache-base.zhonglele.com
DNS.3 = redis-base.zhonglele.com
DNS.4 = rabbitmq-base.zhonglele.com
DNS.5 = solr-base.zhonglele.com
DNS.6 = mysql-base.zhonglele.com
DNS.7 = nexus-cicd.zhonglele.com
DNS.8 = gogs-cicd.zhonglele.com
DNS.9 = jenkins-cicd.zhonglele.com
DNS.10 = subversion-cicd.zhonglele.com
DNS.11 = sonarqube-cicd.zhonglele.com
DNS.12 = -cicd.zhonglele.com
DNS.13 = zentao-product.zhonglele.com
DNS.14 = nginx-product.zhonglele.com
DNS.15 = yuantianfu-product.zhonglele.com
DNS.16 = finance-dev.zhonglele.com
DNS.17 = sso-test.zhonglele.com
DNS.18 = coc-product.zhonglele.com
DNS.19 = yuantianfu-dev.zhonglele.com
DNS.20 = finance-test.zhonglele.com
DNS.21 = sso-product.zhonglele.com
DNS.22 = coc-dev.zhonglele.com
DNS.23 = yuantianfu-test.zhonglele.com
DNS.24 = finance-product.zhonglele.com
DNS.25 = sso-dev.zhonglele.com
DNS.26 = coc-test.zhonglele.com
DNS.27 = android-product.zhonglele.com
DNS.28 = apps-product.zhonglele.com
DNS.29 = dns-product.zhonglele.com
DNS.30 = email-product.zhonglele.com
DNS.31 = ftp-product.zhonglele.com
DNS.32 = git-product.zhonglele.com
DNS.33 = ios-product.zhonglele.com
DNS.34 = ipaas-product.zhonglele.com
DNS.35 = etcd-product.zhonglele.com
DNS.36 = etcd0-product.zhonglele.com
DNS.37 = etcd1-product.zhonglele.com
DNS.38 = etcd2-product.zhonglele.com
DNS.39 = master-product.zhonglele.com
DNS.40 = master0-product.zhonglele.com
DNS.41 = master1-product.zhonglele.com
DNS.42 = master2-product.zhonglele.com
DNS.43 = node-product.zhonglele.com
DNS.44 = node0-product.zhonglele.com
DNS.45 = node1-product.zhonglele.com
DNS.46 = node2-product.zhonglele.com
DNS.47 = static-product.zhonglele.com
DNS.48 = svn-product.zhonglele.com
DNS.49 = www-product.zhonglele.com
DNS.50 = wx-product.zhonglele.com
DNS.51 = ipaas.zhonglele.com
DNS.52 = 
DNS.53 = 
DNS.54 = 
DNS.55 = 
DNS.56 = 
DNS.57 = 
DNS.58 = 
DNS.59 = 
DNS.60 = 
DNS.61 = 
DNS.62 = 
DNS.63 = 
DNS.64 = 
DNS.65 = 
DNS.66 = 
DNS.67 = 
DNS.68 = 
DNS.69 = 
DNS.70 = 
DNS.71 = 
DNS.72 = 
DNS.73 = 
DNS.74 = 
DNS.75 = 
DNS.76 = 
DNS.77 = 
DNS.78 = 
DNS.79 = 
DNS.80 = 
DNS.81 = 
DNS.82 = 
DNS.83 = 
DNS.84 = 
