[ req ]
default_bits       = 2048
prompt             = no
default_md         = sha256
distinguished_name = req_distinguished_name
req_extensions     = req_ext
[ req_distinguished_name ]
C            = CN
ST           = Shanghai
L            = Shanghai
O            = zhonglele
OU           = ZHONGLELE.COM
emailAddress = support@zhonglele.com
CN           = zhonglele.com
[ req_ext ]
subjectAltName = @alt_names
[alt_names]
DNS.1 = android.ipaas.zhonglele.com
DNS.2 = android.zhonglele.com
DNS.3 = apps.ipaas.zhonglele.com
DNS.4 = apps.zhonglele.com
DNS.5 = coc-dev.ipaas.zhonglele.com
DNS.6 = coc.ipaas.zhonglele.com
DNS.7 = coc-test.ipaas.zhonglele.com
DNS.8 = coc.zhonglele.com
DNS.9 = dns.ipaas.zhonglele.com
DNS.10 = dns.zhonglele.com
DNS.11 = email.ipaas.zhonglele.com
DNS.12 = email.zhonglele.com
DNS.13 = etcd.ipaas.zhonglele.com
DNS.14 = etcd.zhonglele.com
DNS.15 = etcd0.ipaas.zhonglele.com
DNS.16 = etcd1.ipaas.zhonglele.com
DNS.17 = etcd2.ipaas.zhonglele.com
DNS.18 = finance-dev.ipaas.zhonglele.com
DNS.19 = finance.ipaas.zhonglele.com
DNS.20 = finance-test.ipaas.zhonglele.com
DNS.21 = finance.zhonglele.com
DNS.22 = ftp.ipaas.zhonglele.com
DNS.23 = ftp.zhonglele.com
DNS.24 = git.ipaas.zhonglele.com
DNS.25 = git.zhonglele.com
DNS.26 = gogs-cicd.ipaas.zhonglele.com
DNS.27 = gogs.ipaas.zhonglele.com
DNS.28 = gogs.zhonglele.com
DNS.29 = ios.ipaas.zhonglele.com
DNS.30 = ios.zhonglele.com
DNS.31 = ipaas.zhonglele.com
DNS.32 = jenkins-cicd.ipaas.zhonglele.com
DNS.33 = jenkins.ipaas.zhonglele.com
DNS.34 = jenkins.zhonglele.com
DNS.35 = master.ipaas.zhonglele.com
DNS.36 = master.zhonglele.com
DNS.37 = master0.ipaas.zhonglele.com
DNS.38 = master1.ipaas.zhonglele.com
DNS.39 = master2.ipaas.zhonglele.com
DNS.40 = memcache-base.ipaas.zhonglele.com
DNS.41 = memcache.ipaas.zhonglele.com
DNS.42 = memcache.zhonglele.com
DNS.43 = mq-base.ipaas.zhonglele.com
DNS.44 = mq.ipaas.zhonglele.com
DNS.45 = nexus-cicd.ipaas.zhonglele.com
DNS.46 = nexus.ipaas.zhonglele.com
DNS.47 = nexus.zhonglele.com
DNS.48 = nginx.ipaas.zhonglele.com
DNS.49 = nginx.zhonglele.com
DNS.50 = node.ipaas.zhonglele.com
DNS.51 = node.zhonglele.com
DNS.52 = node0.ipaas.zhonglele.com
DNS.53 = node1.ipaas.zhonglele.com
DNS.54 = node2.ipaas.zhonglele.com
DNS.55 = redis-base.ipaas.zhonglele.com
DNS.56 = redis.ipaas.zhonglele.com
DNS.57 = solr-base.ipaas.zhonglele.com
DNS.58 = solr.ipaas.zhonglele.com
DNS.59 = sonarqube-cicd.ipaas.zhonglele.com
DNS.60 = sonarqube.ipaas.zhonglele.com
DNS.61 = sonarqube.zhonglele.com
DNS.62 = sso-dev.ipaas.zhonglele.com
DNS.63 = sso-test.ipaas.zhonglele.com
DNS.64 = sso.zhonglele.com
DNS.65 = sso.ipaas.zhonglele.com
DNS.66 = static.ipaas.zhonglele.com
DNS.67 = static.zhonglele.com
DNS.68 = subversion.ipaas.zhonglele.com
DNS.69 = subversion.zhonglele.com
DNS.70 = svn.ipaas.zhonglele.com
DNS.71 = svn.zhonglele.com
DNS.72 = www.ipaas.zhonglele.com
DNS.73 = www.zhonglele.com
DNS.74 = wx.ipaas.zhonglele.com
DNS.75 = wx.zhonglele.com
DNS.76 = yuantianfu-dev.ipaas.zhonglele.com
DNS.77 = yuantianfu.ipaas.zhonglele.com
DNS.78 = yuantianfu-test.ipaas.zhonglele.com
DNS.79 = yuantianfu.zhonglele.com
DNS.80 = yuntianfu.ipaas.zhonglele.com
DNS.81 = yuntianfu.zhonglele.com
DNS.82 = zentao.ipaas.zhonglele.com
DNS.83 = zentao.zhonglele.com
DNS.84 = zhonglele.com
IP.1  = 210.51.26.187
IP.2  = 127.0.0.1
