[ req ]
default_bits       = 2048
prompt             = no
default_md         = sha256
distinguished_name = req_distinguished_name
req_extensions     = req_ext
[ req_distinguished_name ]
C            = CN
ST           = Shanghai
L            = Shanghai
O            = zhonglele
OU           = ZHONGLELE.COM
emailAddress = support@zhonglele.com
CN           = zhonglele.com
[ req_ext ]
subjectAltName = @alt_names
[alt_names]
DNS.1 = zhonglele.com
DNS.2 = ipaas.zhonglele.com
DNS.3 = www.zhonglele.com
DNS.4 = dns.zhonglele.com
DNS.5 = svn.zhonglele.com
DNS.6 = subversion.zhonglele.com
DNS.7 = static.zhonglele.com
DNS.8 = git.zhonglele.com
DNS.9 = apps.zhonglele.com
DNS.10 = yuantianfu.zhonglele.com
DNS.11 = yuntianfu.zhonglele.com
DNS.12 = finance.zhonglele.com
DNS.13 = zentao.zhonglele.com
DNS.14 = nginx.zhonglele.com
DNS.15 = jenkins.zhonglele.com
DNS.16 = gogs.zhonglele.com
DNS.17 = nexus.zhonglele.com
DNS.18 = sonarqube.zhonglele.com
DNS.19 = sso.zhonglele.com
DNS.20 = coc.zhonglele.com
DNS.21 = master.zhonglele.com
DNS.22 = node.zhonglele.com
DNS.23 = etcd.zhonglele.com
DNS.24 = email.zhonglele.com
DNS.25 = memcache.zhonglele.com
DNS.26 = ftp.zhonglele.com
DNS.27 = ios.zhonglele.com
DNS.28 = android.zhonglele.com
DNS.29 = wx.zhonglele.com
DNS.30 = www.ipaas.zhonglele.com
DNS.31 = dns.ipaas.zhonglele.com
DNS.32 = svn.ipaas.zhonglele.com
DNS.33 = subversion.ipaas.zhonglele.com
DNS.34 = static.ipaas.zhonglele.com
DNS.35 = git.ipaas.zhonglele.com
DNS.36 = apps.ipaas.zhonglele.com
DNS.37 = yuntianfu.ipaas.zhonglele.com
DNS.38 = finance.ipaas.zhonglele.com
DNS.39 = zentao.ipaas.zhonglele.com
DNS.40 = nginx.ipaas.zhonglele.com
DNS.41 = master.ipaas.zhonglele.com
DNS.42 = master0.ipaas.zhonglele.com
DNS.43 = master1.ipaas.zhonglele.com
DNS.44 = master2.ipaas.zhonglele.com
DNS.45 = node.ipaas.zhonglele.com
DNS.46 = node0.ipaas.zhonglele.com
DNS.47 = node1.ipaas.zhonglele.com
DNS.48 = node2.ipaas.zhonglele.com
DNS.49 = etcd.ipaas.zhonglele.com
DNS.50 = etcd0.ipaas.zhonglele.com
DNS.51 = etcd1.ipaas.zhonglele.com
DNS.52 = etcd2.ipaas.zhonglele.com
DNS.53 = email.ipaas.zhonglele.com
DNS.54 = memcache.ipaas.zhonglele.com
DNS.55 = ftp.ipaas.zhonglele.com
DNS.56 = ios.ipaas.zhonglele.com
DNS.57 = android.ipaas.zhonglele.com
DNS.58 = wx.ipaas.zhonglele.com
DNS.59 = redis.ipaas.zhonglele.com
DNS.60 = redis-base.ipaas.zhonglele.com
DNS.61 = mq.ipaas.zhonglele.com
DNS.62 = mq-base.ipaas.zhonglele.com
DNS.63 = memcache.ipaas.zhonglele.com
DNS.64 = memcache-base.ipaas.zhonglele.com
DNS.65 = solr.ipaas.zhonglele.com
DNS.66 = solr-base.ipaas.zhonglele.com
DNS.67 = gogs.ipaas.zhonglele.com
DNS.68 = gogs-cicd.ipaas.zhonglele.com
DNS.69 = jenkins.ipaas.zhonglele.com
DNS.70 = jenkins-cicd.ipaas.zhonglele.com
DNS.71 = nexus.ipaas.zhonglele.com
DNS.72 = nexus-cicd.ipaas.zhonglele.com
DNS.73 = sonarqube.ipaas.zhonglele.com
DNS.74 = sonarqube-cicd.ipaas.zhonglele.com
DNS.75 = yuantianfu-dev.ipaas.zhonglele.com
DNS.76 = yuantianfu-test.ipaas.zhonglele.com
DNS.77 = yuantianfu.ipaas.zhonglele.com
DNS.78 = finance-dev.ipaas.zhonglele.com
DNS.79 = finance-test.ipaas.zhonglele.com
DNS.80 = finance.ipaas.zhonglele.com
DNS.81 = coc-dev.ipaas.zhonglele.com
DNS.82 = coc-test.ipaas.zhonglele.com
DNS.83 = coc.ipaas.zhonglele.com
DNS.84 = sso-dev.ipaas.zhonglele.com
DNS.85 = sso-test.ipaas.zhonglele.com
DNS.86 = sso.ipaas.zhonglele.com
IP.1  = 210.51.26.187
IP.2  = 127.0.0.1
